extends layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipiscing, elit metus sagittis nisi vel dis ultricies, dignissim conubia nisl viverra suspendisse. Gravida rhoncus magnis magna cubilia quis arcu turpis massa at, fusce neque ultricies ornare bibendum ac platea aenean libero est, pretium dictumst hac suscipit orci nec velit nullam. Nibh ad malesuada urna molestie bibendum et potenti quis erat facilisis placerat, enim euismod nisi nec vestibulum senectus velit penatibus parturient accumsan, congue fames imperdiet id torquent egestas tellus laoreet nascetur cras. Lacinia ante magnis torquent mus molestie ridiculus proin lacus eu condimentum sollicitudin, nullam congue fames est inceptos tristique aenean turpis facilisis.

                p Platea euismod est lacinia torquent, curabitur a nunc augue, purus porta natoque. Mattis mauris fermentum est malesuada senectus convallis imperdiet hac risus, euismod facilisi donec nunc sem vel lacinia felis, lectus mollis ultrices nullam nisl fringilla quam in. Elementum pharetra pellentesque rutrum erat diam ante quam, felis eros parturient donec dictum senectus quis lacus, ullamcorper non cursus dapibus orci pulvinar. Porta fringilla morbi quis ridiculus ad tempus turpis hendrerit, libero himenaeos lacus et leo facilisis luctus consequat semper, nascetur ultricies mattis ligula vehicula eleifend suscipit.

                p Tempor turpis hac montes aptent sodales imperdiet orci risus neque congue habitant justo, fringilla lacus sed cursus ridiculus himenaeos curae mi laoreet sagittis arcu. Vel nisl urna nostra a dictumst habitant sapien scelerisque sodales, commodo enim facilisis dapibus nunc in fringilla mauris sed elementum, habitasse massa nec congue suscipit torquent ad viverra. In vehicula ullamcorper mus rhoncus facilisis etiam fames, vestibulum primis aenean justo imperdiet natoque aliquet varius, ridiculus dignissim mollis nascetur lacus per.

    .listado-iconos
        .container.mt-5.py-5.text-xl-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipiscing, elit metus sagittis nisi vel dis ultricies, dignissim conubia nisl viverra suspendisse.
                .col-md-4
                    img(src="/img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipiscing, elit metus sagittis nisi vel dis ultricies, dignissim conubia nisl viverra suspendisse.
                .col-md-4
                    img(src="/img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipiscing, elit metus sagittis nisi vel dis ultricies, dignissim conubia nisl viverra suspendisse. 